<% provide(:title, 'Contact') %>
<div class="center jumbotron">
	<h1>Contact</h1>
	<p>We love hearing from our users, so please don't hesitate to reach out with questions, comments, suggestions, or just to say hello!</p>
	<p>Review Yeti's head developer, Melanie, can be reached at <%= mail_to "melanie.vanderlugt@gmail.com"%>.</p>
</div>