<% provide(:title, 'Features') %>
<div class="jumbotron">
	<h1 class="center">Features</h1>
	<h3 class="orange">We make analyzing reviews easy</h3>
	<ul>
		<li>We pull reviews from the US, Australia, Canada and UK iTunes stores</li>
		<li>Our Word Cloud feature shows you which words are most commonly used in reviews</li>
		<li>Sorting and Filtering features allow you to view data for specific iTunes stores or app versions</li>
	</ul>

	<h3 class="orange">We offer a better way to view App rankings</h3>
	<ul>
		<li>View the top 200 rankings in each app category</li>
		<li>See how each app's ranking has changed in the last 12 and 24 hours</li>
		<li>Receive emails when a hot new app is blazing up the charts (not available in RY BETA, coming soon!)</li>
		<li>View a chart of your rankings over time if your app is in the Top 200 in any category</li>
	</ul>
	<br>
	<div class="center">
		<%= link_to "GET STARTED TODAY FOR FREE!", signup_path, class: "btn btn-large btn-primary btn-orange" %>
	</div>
</div>