<% provide(:header_type, "landing-header") %>
<% provide(:body_bg, "photo") %>

<div class="landing">

<h1>With Review Yeti, analyzing app reviews and rankings has never been easier.</h1>
	<h3>We track app rankings and analyze app reviews so you don't have to.</h3>
	<h4>Stop wasting your time manually scrolling through hundreds of iTunes Store reviews <br>and rankings.  With Review Yeti, you'll never have to do that ever again.</h4>

	<h4><br>Review Yeti Beta is available for free, and allows users to access a limited number of Review Yeti's features. <br>We're working furiously on a paid version. In the meantime, let us know if you have any suggestions!</h4>

	<%= link_to "Sign up, it's free!", signup_path, class: "btn btn-large btn-primary btn-orange" %>


</div>
