<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#US" data-toggle="tab">US</a></li>
  <li><a href="#CA" data-toggle="tab">Canada</a></li>
  <li><a href="#UK" data-toggle="tab">United Kingdom</a></li>
  <li><a href="#AU" data-toggle="tab">Australia</a></li>
</ul>