<footer class="footer navbar navbar-fixed-bottom">
  <div class="container">
    <nav class="AP">
      Review Yeti is an <%= link_to "Alpine Pipeline", "http://alpinepipeline.com/" %>&trade; Product
    </nav>
  </div>

  <script type='text/javascript'>var _merchantSettings=_merchantSettings || [];_merchantSettings.push(['AT', '1l3vn26']);(function(){var autolink=document.createElement('script');autolink.type='text/javascript';autolink.async=true; autolink.src= ('https:' == document.location.protocol) ? 'https://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js' : 'http://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(autolink, s);})();</script>
</footer>